<div class="jumbotron ">
<div class="container p-1 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <h3 class="display-6 fw-bold">Kembang</h3>
      <p class="col-md-8 fs-5">
      "A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants. The biological function of a flower is to facilitate reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing resulting from cross-pollination or allow selfing when self-pollination occurs."</p>
    </div>
  </div>
</div>